@import url('https://fonts.cdnfonts.com/css/cocogoose');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Inter:wght@400;500&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: "Lato", sans-serif;
}

.gray {
  color: #d3d3d3;
}

.dark-gray {
  color: #272a31;
}

.orange {
  color: #ec5242;
}

.mobile-menu {
  background-color: #272a31;
  position: fixed;
  z-index: 9998;
  display: block;
  padding: 4%;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
}

.mobile-menu ul {
  list-style: none;
}

.mobile-menu ul li {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

.mobile-menu ul hr {
  width: 90%;
}

.cancel {
  margin-left: -10%;
}

.contact a {
  color: #fff;
  text-decoration: none;
}

.mobile-menu ul li a {
  color: #fff;
  text-decoration: none;
  padding-left: 10%;
}

.mobile-navigation {
  background: #fff;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  height: 63px;
}

.hidden {
  display: none;
}

.mobile-navigation ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

#menu {
  padding-top: 16px;
  padding-left: 23px;
}

#logo {
  width: 50px;
  padding-top: 6.5px;
  padding-right: 23px;
}

.desktop-nav1 {
  display: none;
}

.desktop-nav2 {
  display: none;
}

.main-sec {
  background-image: url(images/hero_container.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 70px;
}

.title-sec {
  padding-left: 18px;
  letter-spacing: 1px;
}

.title-sec h1 {
  font-family: 'cocogoose', sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
}

.mission-vision {
  margin-top: 16px;
  border: 4px solid #d1cece;
  margin-left: 8.5px;
  margin-right: 8.5px;
  text-align: center;
  padding: 18px;
  background: #f8f8f8;
}

.mission-vision p {
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  padding-top: 18px;
  color: #515151;
}

.mission-vision h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 0px;
}

.agency1 h3 {
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 25px;
  width: 20%;
}

.leadership h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.mission-vision h3:nth-of-type(2) {
  padding-top: 18px;
}

.program {
  background-image: url(images/dotedbg.png);
  background-repeat: repeat;
  background-color: rgb(48, 51, 58);
  padding-bottom: 30px;
}

.agencies {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-bottom: 1.9em;
}

.sec-tit {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 55px;
}

.sec-tit h2 {
  font-size: 1.25rem;
}

.hr {
  width: 10%;
  margin: auto;
  margin-top: 15px;
  border: 2px solid #a04038;
  border-radius: 5px;
}

.agency1 {
  display: flex;
  gap: 1em;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  width: 95%;
  margin: auto;
}

.agency1 img {
  width: 57px;
  height: 57px;
}

.agency1 p {
  font-weight: 700;
  font-size: 0.6689625rem;
  line-height: 22px;
  color: #fff;
  letter-spacing: 0.06em;
  width: 60%;
}

.contact {
  background-color: #ff4f38;
  padding: 20px 50px;
  width: 50%;
  text-align: center;
  margin: auto;
  margin-top: 2.5em;
}

.leadership {
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 1.9em;
}

.directors-list {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  width: 95%;
  margin: auto;
  padding-top: 1.9em;
}

.director {
  display: flex;
  gap: 0.9em;
}

.dir-img img {
  width: 107px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.info h4 {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
}

.profession {
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 15px;
}

.note {
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 14px;
}

@media screen and (min-width: 48em) {
  .mobile-navigation {
    display: none;
  }

  .desktop-nav1 {
    display: block;
    background-color: #3e3e3e;
  }

  .desktop-nav1 ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 1.25em;
    margin-right: 10%;
    padding: 6.5px;
  }

  .contact a {
    text-decoration: underline;
  }

  .desktop-nav1 ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 14px;
  }

  #main-logo {
    width: 50%;
  }

  .dir-img img {
    width: 160px;
  }

  .desktop-nav1 ul li a img {
    width: 18px;
    height: 18px;
  }

  .desktop-nav2 {
    display: flex;
    justify-content: space-between;
    background-color: #9c9c9c;
    padding: 12px 15%;
  }

  .desktop-nav2 ul {
    list-style: none;
    display: flex;
    gap: 5%;
    align-items: center;
  }

  .desktop-nav2 ul li a {
    font-weight: 800;
    font-size: 0.7rem;
    line-height: 17px;
    color: #fff;
    text-decoration: none;
  }

  .news {
    border: 2px solid #ff4f38;
    padding: 10px;
  }

  .main-sec {
    background-image: url(images/mainbackground.png);
    padding-top: 10%;
  }

  .title-sec {
    letter-spacing: 2px;
    padding-left: 15%;
  }

  .title-sec h4 {
    font-size: 1.2rem;
  }

  .title-sec h1 {
    font-size: 2.6rem;
    width: 50%;
  }

  .mission-vision {
    width: 50%;
    margin-left: 15%;
  }

  .mission-vision p {
    font-size: 1.5rem;
    text-align: left;
    line-height: 1.5rem;
  }

  .mission-vision h3 {
    font-weight: 900;
    font-size: 1.7rem;
    padding-top: 1rem;
  }

  .agency1 h3 {
    width: 100%;
    font-size: 1.2rem;
  }  

  .mission-vision h3:nth-of-type(2) {
    padding-top: 2rem;
  }

  .program {
    background-image: url(images/pattern_bg.png);
    display: flex;
    flex-direction: column;
  }

  .agencies {
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
  }

  .agency1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 200px;
    height: 270px;
  }

  .agency1 p {
    width: 100%;
  }

  .contact {
    background-color: rgba(0, 0, 0, 0);
  }

  .directors-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .director {
    max-width: 48%;
  }

  .info h4 {
    font-size: 24px;
    line-height: 29px;
  }

  .profession {
    font-size: 15px;
    line-height: 21px;
  }

  .note {
    font-size: 15px;
    line-height: 21px;
  }
}
